@import "./variables.scss";

.card{
    padding-bottom: $grid-gutter * 2;
}

.caption{
    margin-top: 5px;
}

.captionTop{
    display: flex;
    
    time{
        font-size: .9em;
        color: $darkgrey;
    }
}

.captionProject{
    flex: 1;
}

.captionCategory{
    font-size: .8em;
    text-transform: uppercase;
    color: $grey;
}